#imgSwiper {
  margin-bottom: 100px;
  .swiper-container {
    // max-width:1200px;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .swiper {
    width: 100%;

    @media (max-width: 1200px) {
      width: 160%;
      /* 화면 크기가 1200px 이하일 때 가득 차도록 조절 */
    }
  }

  img {
    width: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    margin: 0 auto;

    /* Center slide text vertically */
    // display: flex !important;
    justify-content: center;
    align-items: center;
    // height: 330px;
    // background-color: black;
  }
}
