#headers{margin:0 !important; padding:0 !important;}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 140px;
  margin: 0 auto;
  background: #fff;
  border-bottom: 1px solid #ebebeb;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  z-index: 3;

  .inner {
    position: relative;
    display: block;
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    font-size: 0;
  }

  .logo {
    position: absolute;
    left: 0;
    top: 64px;
    display: inline-block;
    width: 150px;
    text-align: left;
    box-sizing: border-box;
    z-index: 6;
    img{
      width: 120px;
    }

    h1 {
      text-indent: -9999px;
      width: 0;
      height: 0;
      line-height: 0;
    }
  }

  .rBtn {
    display: inline-block;
    text-align: center;
    width: 120px;
    height: 45px;
    background: #01387f;
    font-size: 16px;
    color: #fff;
    line-height: 45px;
    letter-spacing: -0.0em;
    z-index: 6;
  }

  .util {
    display: inline-block;
    width: calc(100% - 120px);
    padding: 15px 50px 0 0;
    text-align: right;
    box-sizing: border-box;
    z-index: 6;

    li {
      display: inline-block;
      margin-left: 40px;

      &:first-child {
        margin-left: 0;
      }

      a{
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        color: #141414;
        line-height: 1;
        letter-spacing: -0.0em;

        &:hover {
          color: #f89700;
        }

        &.on {
          color: #f89700;
        }
      }

      &.login_user {
        .name b {
          font-size: 15px;
          color: #01387f;
        }

        .id {
          font-size: 12px;
          vertical-align: bottom;
        }

        a:hover {
          .name b {
            color: #f89700;
          }
        }
      }
    }
  }
  .user {
    color: #01387f;
  }
}

.gnb {
  position: relative;
  width: 100%;
  height: 60px;
  border-bottom: 0px solid #ebebeb;
  margin: 0px auto;
  text-align: center;
  z-index: 5;

  nav {
    display: block;
    width: 1200px;
    margin: 0 auto;
    padding: 0 150px;
    box-sizing: border-box;

    .Ul {
      display: inline-block;
      text-align: center;

      li {
        display: inline-block;
        text-align: center;
        padding: 0 40px;

        &:first-child {
          padding-left: 80px;
        }

        a {
          display: block;
          height: 60px;
          font-weight: bold;
          font-size: 22px;
          letter-spacing: -0.03em;
          color: #00304f;
          text-align: center;
          text-transform: uppercase;
          box-sizing: border-box;
          transition: transform 0.65s ease;
          

          &:hover {
            color: #f89700;
            border-bottom: 2px solid #f89700;
            transition: all 0.3s ease-in-out;
          }

          &.on {
            color: #f89700;
            border-bottom: 2px solid #f89700;
            transition: all 0.3s ease-in-out;
          }
        }
        .two-depth {
       
          display: none;
          position: absolute;
          top: 60px;
          left: 0;
          // height: 380px;
          width: 100%;
// 스타일
          background: #fff;
          box-shadow: 0 4px 24px -4px rgba(0, 0, 0, .15);
          border: 0px solid #d7d7d7;
          box-sizing: border-box;
          z-index: 2;
          // overflow: hidden;



          .innerWrap {
            display: flex;
            width: 840px;
            text-align: left;
            margin: 0 auto;
              padding: 40px;
              box-sizing: border-box;
              z-index: 4;
              h4{
                font-size: 18px;
                height: 30px;
                margin-bottom: 10px;
                text-align: center;
              }

            div {
              flex: 1;
              text-align: center;
              margin: 0px;
              box-sizing: border-box;
              font-size: 15px;

              h3 {
                // font-size: 18px;
                color: #141414;
                margin-bottom: 10px;
                 height: 30px;
                  
                  a {
                  
                    display: block;
                    color: #141414;
                    text-decoration: none;
                    font-size: 15px;
                    transition: none;
                    height: 30px;
                    // margin: 0 auto;
                    // padding: 0;
                    
                    &:hover {
                      color: #f29300;
                      border-bottom: #fff;
                      
                    }
                  
                }
              }
            }
          }
        }

        &:hover {
          .two-depth {
            display: block;
          }
        }
      }
    }
  }
}



A.roll img {
  display: inline;
  border: 0;
  transition: all 0.5s ease-in-out;
  
}

A.roll img.over {
  display: none;
}

A.roll:hover {
  border: 0;
  transition: all 0.5s ease-in-out;
}

A.roll:hover img {
  display: none;
}

A.roll:hover img.over {
  display: inline;
}

.btn_up_layer {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
  padding: 0px;
  width: 50px;
  height: 50px;
  z-index: 100;
  cursor: pointer;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

// 반응형 추가
@media (max-width: 1200px) {
  .HeaderContainer {
    #header {
      display: none; /* 메인 헤더 숨김 */
    }
    #header2 {
      display: block; /* 두 번째 헤더 보여줌 */
    }
  }
}

@media (min-width: 1200px) {
  .HeaderContainer {
    #header {
      display: block; /* 메인 헤더 보여줌 */
    }
    #header2 {
      display: none; /* 두 번째 헤더 숨김 */
    }
  }
}

#header2 {
  position: fixed;
  top: 0;
  width: 100%;
  // height: 80px;
  // padding-bottom: 10px;
  margin: 0 auto;
  background: #fff;
  // border-bottom: 80px solid #ebebeb;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  z-index: 3;
  .Toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img{
   width: 120px;
  }
  
  .util {
    
    // width: calc(100% - 120px);
    // padding: 15px 50px 0 0;
    
    box-sizing: border-box;
    z-index: 6;
    margin: 10 auto;
    display: flex; /* Flexbox 사용 */
    .Ul{
      padding-left: 5px;
    }
  }
  
  
}
