.Baener {
  width: 1200px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url(../../../public/baener.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1200px 300px;
  object-fit: cover;
}
