.Baener {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: url("https://images.descentekorea.co.kr/contents/disp/Builder/Unit/20240521/240520_LCG_imvely_Main_PC_20240521100119.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1200px 200px;
  object-fit: cover;
}
