@import "../svg.scss";
@import "../mixin.scss";
.container {
  .inner {
    max-width: 1200px;
    margin: 0 auto;
    .Customer {
      padding-top: 50px;
      display: flex;
    }
    .Baener {
      width: 1200px;
      background-color: black;
      height: 200px;
      margin: 0 auto;
      color: #ffff;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
}
