@import "../svg.scss";
@import "../mixin.scss";
.container {
  .inner {
    max-width: 1200px;
    margin: 0 auto;
    .Customer {
      padding-top: 50px;
      display: flex;
      justify-content: space-between;
      .SideMenu {
        ul {
          cursor: pointer;

          li {
            width: 200px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-bottom: solid 1px #d9d9d9;
            padding-bottom: 10px;
            span {
              font-weight: bold;
              font-size: 15px;
            }
            &:first-child {
              border-bottom: solid 3px #d9d9d9 !important;
            }
            h2 {
              margin-bottom: 19px;
            }
          }
        }
      }
      .Center {
        margin-top: 10px;
        .Search {
          display: flex;
          flex-direction: column;
          span {
            font-size: 23px;
            font-weight: bold;
          }
          input {
            margin-top: 34px;
            width: 600px;
            height: 50px;
            border: solid 2px #333333;
            padding: 20px;
          }
          i {
            width: 100px;
            height: 35px;
            background-color: #838999;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              font-size: 15px;
              color: #fff;
              font-weight: bold;
              font-style: normal;
            }
          }
          .Keyword {
            margin-top: 10px;
            display: flex;
            align-items: center;
            .Tip {
              font-size: 1em;
              margin-left: 30px;
              color: #909090;
            }
          }
          .SearchBox {
            display: flex;
            align-items: center;

            button {
              height: 50px;
              width: 50px;
              margin-top: 34px;
              border: none;
              background-color: #333333;
              color: #ffff;
              cursor: pointer;
            }
          }
        }
      }
      .FAQ {
        margin-top: 70px;
        padding-bottom: 10px;
        .FAQTitle {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          span {
            font-size: 25px;
            &:last-child {
              margin-top: 20px;
              font-size: 13px;
              font-weight: bold;
              cursor: pointer;
              display: flex;
              align-items: center;
              i {
                @include icon(arrow-right, #3e3a39, 15px, 15px);
              }
            }
          }
        }
        ul {
          border-top: solid 1px;
          cursor: pointer;

          li {
            border-bottom: solid 1px #b3b3b3;
            padding-bottom: 11px;
            padding-top: 11px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            i {
              @include icon(arrow-right, #3e3a39, 15px, 15px);
              transform: rotate(90deg);
            }
            span {
              font-size: 15px;
              font-weight: bold;
              &:first-child {
                color: #02387f;
              }
            }
          }
        }
      }
      .Right {
        margin-top: 22px;
        .InquiryBox {
          font-weight: bold;
          padding: 20px;
          margin-top: 55px;
          border: solid 2px #02387f;
          width: 270px;
          height: 150px;
          .Buttonbox {
            display: flex;
            justify-content: space-around;
            padding-top: 20px;
            button {
              font-weight: bold;
              width: 100px;
              height: 40px;
              background-color: #fff;
              border-radius: 5px;
              border: solid 1px;
              &:last-child {
                color: #02387f;
                border: solid 1px black;
              }
            }
          }
        }
        .NoticeBox {
          margin-top: 22px;
          span {
            font-size: 25px;
          }
          ul {
            border-top: solid 1px;
            cursor: pointer;
            li {
              display: flex;
              border-bottom: solid 1px #b3b3b3;
              padding-top: 11px;
              padding-bottom: 11px;
              span {
                font-size: 15px;
                font-weight: bold;
                &:last-child {
                  margin-left: 5px;
                }
                &:first-child {
                  color: #02387f;
                }
              }
            }
          }
        }
        .NoticTitle {
          margin-bottom: 6px;
          display: flex;
          justify-content: space-between;

          span {
            &:last-child {
              font-size: 13px;
              font-weight: bold;
              margin-top: 19px;
              cursor: pointer;
              display: flex;
              align-items: center;
              i {
                @include icon(arrow-right, #3e3a39, 15px, 15px);
              }
            }
          }
        }
      }
    }
    .Baener {
      width: 1200px;
      background-color: black;
      height: 200px;
      margin: 0 auto;
      color: #ffff;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
}
