.FAQForm {
  width: 100%;
  height: 100%;
  .FAQHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 27px;
    font-weight: bold;
    margin-top: 10px;
    width: 900px;

    .BtnBox {
      margin-left: 120px;
      display: flex;

      .BigOption {
        position: relative;
        padding: 8px;
        background-color: #fff;
        border: 1px solid #dddddd;
        width: 120px;
        font-size: 13px;
        user-select: none;

        .OptionList {
          display: none;
          position: absolute;
          width: 100%;
          background-color: #fff;
          z-index: 100;
          top: 100%;
          border: solid 1px #dddddd;
          border-top: none;
          top: 36px;
          left: -1px;
          width: 150px;
          i {
            @include icon(arrow-right, #3e3a39, 20px, 20px);
            position: absolute;
          }
        }
        .OptionList.show {
          display: block;
          width: 120px;
          .OpationItem {
            padding: 8px;
          }
        }
        .OpationItem:hover {
          background-color: #e6e8ec;
        }
      }
      .DetailsOption {
        top: 220px;
        left: 0px;
        background-color: #fff;
        border: 1px solid #dddddd;
        width: 120px;
        font-size: 13px;
        user-select: none;
        z-index: 101;
        padding: 8px;
        margin-left: 10px;

        .OptionList {
          position: absolute;
          border: solid 1px #dddddd;
          display: block;
          width: 120px;
          top: 238px;
          right: 762px;
          background-color: #fff;
        }
        .OpationItem {
          padding: 8px;
        }
        .OpationItem:hover {
          background-color: #e6e8ec;
        }
      }
    }
    .SearchBox {
      display: flex;
      align-items: center;
      input {
        width: 250px;
        height: 40px;
        margin-right: 10px;
        border: 1px solid #0d0d0d;
        padding-left: 10px;
        border: solid 1px #dddddd;
      }
    }
    button {
      width: 60px;
      height: 40px;
      border: solid 1px #dddddd;
      color: #ff9b9c;
      background-color: #fff;
      cursor: pointer;
    }
  }
  .QuestionForm {
    ul {
      border-top: solid 1px black;
      width: 100%;
      margin-top: 29px;
      .Question {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: solid 1px #d9d9d9;
        &:last-child {
          border-bottom: solid 1px black;
        }

        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          i {
            @include icon(arrow-right, #d9d9d9, 20px, 20px);
            transform: rotate(90deg);
            margin-right: 10px;
          }
          span {
            margin-left: 20px;
            display: flex;
            align-items: center;
          }
        }
        .Answer {
          display: flex;

          span {
            display: flex;
            margin-left: 20px;
            margin-top: 15px;
          }
        }
        .Answer span::before {
          content: "A";
          margin-left: 10px;
          margin-right: 30px;
          font-size: 14px;
          background-color: #ff9b9c;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .icon-arrow {
          transition: transform 0.3s ease-in-out;
        }
        .icon-arrow.up {
          transform: rotate(-92deg);
          @include icon(arrow-right, #333333, 20px, 20px);
        }

        .icon-arrow.down {
          transform: rotate(90deg);
        }
        .Completed::before {
          background-color: #333333;
        }
        .icon-arrow.down::before {
          background-color: #333333;
        }
      }
      .Question span::before {
        content: "Q";
        margin-left: 10px;
        margin-right: 30px;
        font-size: 14px;
        background-color: #d9d9d9;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .Page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    position: relative;
    span {
      margin-right: 10px;
    }
    .IconBox {
      display: flex;
      width: 25px;
      height: 25px;
      border: solid 1px #d9d9d9;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }
    i {
      width: 25px;
      height: 25px;
      border: solid 1px #d9d9d9;
      border-radius: 5px;
      @include icon(arrow-right, #3e3a39);
      background-size: 13px 13px;
      &:last-child {
        transform: translateX(-2px);
        border: none;
      }
      .duble {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        transform: translateX(5px);
      }
    }
    span {
      display: flex;
      justify-content: center;
      font-size: 18px;
    }
  }
}
.Recode {
  width: 100%;
  font-size: 14px;
  width: 150px;
  height: 60px;
  background-color: #ff9b9c;
  border-radius: 5px;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  span {
    margin: 0 !important;
  }
}
