.Container {
  .inner {
    .SideMenu {
      margin-right: 33px;
      ul {
        cursor: pointer;

        li {
          width: 200px;
          margin-top: 10px;
          margin-bottom: 15px;
          border-bottom: solid 1px #d9d9d9;
          padding-bottom: 10px;

          &:first-child {
            border-bottom: solid 2px #d9d9d9;

            h2 {
              margin-bottom: 19px;
            }
          }

          .menu-item {
            text-decoration: none;
            color: #000;

            &.active {
              color: #ff9b9c;
            }
          }

          span {
            font-weight: bold;
            font-size: 15px;
          }
        }
      }
    }
  }
}
